{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<table class="table table-striped">
    <tr>
        {% for obj in object_list.0.keys %}
         {% if "Utility_" not in obj %}
        <th>{{obj}}</th>
        {% endif %}
        {% endfor %}
    </tr>
    {% for object in object_list %}
    <tr>
        {% for key,val in object.items %}
        {% if "Utility_" not in key %}
        <td>{{val|safe}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
